@model List<Bookstore.Models.Domain.Book>
@{
    ViewData["Title"] = "Books";
}
@{
}

<h1>Books</h1>

<form method="get" action="/Books/Index" class="input-group mb-3">
    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Title to search">
    <input class="btn btn-outline-secondary" type="submit" value="search" />
    <a class="btn btn-outline-secondary" asp-action="Index">Back to full list</a>
</form>

<table class="table">
    <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
            </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
            </tr>
        }
    </tbody>
</table>